<div id="landing" ng-if="!home.auth.isAuthenticated">
  <md-content>
    <h1>Welcome to Sparrow Fit!</h1>
    <h3>Login from the toolbar above to access your profile.</h3>
  </md-content>
  <div id="container" >
    <video autoplay loop muted poster="screenshot.jpg" id="background">
      <p>test</p>
      <source src="http://i.istockimg.com/video_passthrough/19428390/153/19428390.mp4" type="video/mp4">
      </video>
    </div>
</div>
<md-content class="md-padding" layout="column">
<div id="landing" ng-if="home.auth.isAuthenticated" >
  <h1>Welcome to Sparrow Fit!</h1>
  Create a workout Template!
</div>

</md-content>
