<h3>add a goal below </h3>
<div>
   <form  id="form1">
            <input ng-model="$ctrl.input" class="form-control" type="text"/>
            enter goal name: <input ng-model="$ctrl.name"><br>
            enter Player max salary: <input ng-model="salary"><br>
            enter Player max trading fees : <input ng-model="tradeFees"><br>
            <button ng-click="$ctrl.insertGoal()"> create goal </button>
       <!--      <input ng-click="insertPlayer()" value="submit"> -->
   </form>

</div>
