<md-toolbar style="color: #ecd018; background:#252527">
  <div class="md-toolbar-tools">
    <h2>
      <md-span>
        Sparrow Fit
      </md-span>
    </h2>
    <span flex></span>
    <!-- will need to conditionally hide/show buttons -->
    <md-button
      aria-label="Application"
      ui-sref="application"
      ng-if="toolbar.auth.isAuthenticated"
      >
      Application

    </md-button>
    <md-button
      aria-label="Login"
      ng-click="toolbar.login()"
      ng-if="!toolbar.auth.isAuthenticated">
      Login
    </md-button>

    <md-button
      aria-label="Profile"
      ui-sref="profile"
      ng-if="toolbar.auth.isAuthenticated">
      Profile
    </md-button>

    <md-button
      aria-label="Logout"
      ng-click="toolbar.logout()"
      ng-if="toolbar.auth.isAuthenticated">
      Logout
    </md-button>
  </div>
</md-toolbar>

<div ng-if="toolbar.auth.isAuthenticated">
  <md-nav-bar md-selected-nav-item="currentNavItem">
    <md-nav-item md-nav-sref="createWorkout" name="createWorkout">
      Create Workout
    </md-nav-item>
    <md-nav-item md-nav-sref="workout" name="workout">
      Workout
    </md-nav-item>
    <md-nav-item md-nav-sref="goals" name="goals">
      Goals
    </md-nav-item>
  </md-nav-bar>
</div>
