<div class="container">
<div>
  <label>Template Name</label>
  <input type="text" ng-model="$ctrl.inputName"/>
  <button ng-click='$ctrl.name($ctrl.inputName)' class="btn btn-success">Get Template</button>
  <button ng-click="$ctrl.getTimedTemps()" class="btn btn-info">Timed Templates</button>
  <button ng-click="$ctrl.getUntimedTemps()" class="btn btn-info">Untimed Templates</button>
</div>
<div id="show-timed-untimed col-md-6">
  <ul>
    <li ng-click="$ctrl.name(show)" ng-repeat="show in $ctrl.showTimed | filter:$ctrl.inputName" show="show">
      {{ show }}
    </li>
  </ul>
  </br>
  <ul>
    <li ng-click="$ctrl.name(show2)" ng-repeat="show2 in $ctrl.showUntimed | filter:$ctrl.inputName" show2="show2">
      {{ show2 }}
    </li>
  </ul>
</div>

<timed-view ng-if="$ctrl.timed" data="$ctrl.workoutData" workout="$ctrl.workout"></timed-view>
<untimed-view ng-if="$ctrl.untimed" data="$ctrl.workoutData" workout="$ctrl.workout"></untimed-view>
</div>
