<h1> All Your active Goals ! </h1>

<!-- <a href="lend.html"> Lend a cat </a>
 -->
 <a ui-sref="panel"> Your panel activity</a>
 <a ui-sref="addGoal"> Add a goal ui-router link</a>
 <a ui-sref="goalList"> See all my goals </a>
 <a ui-sref="history"> See all my workouts</a>
    <ui-view></ui-view>

 <ul >
    <li> <h5> hereafter should be my ng-repeat result </h5></li>
    <li ng-repeat="goal in $ctrl.resolveGoal">
      <a ui-sref="goal({goalID:goal.id})">
      {{goal.name}}
      </a>
    </li>
  </ul>
