<h3> Fitness Spectator Bot </h3>
<ul>
  <li> name : {{$ctrl.resolveGoalItem.name}}</li>
  <li> id : {{$ctrl.resolveGoalItem.id }}</li>
  <li> you set yourself to workout at least {{$ctrl.resolveGoalItem.number }} time(s) per {{$ctrl.resolveGoalItem.timeFrame}}  </li>
  <li> you started to have this goal for yourself on the {{$ctrl.resolveGoalItem.startDate }} </li>
  <li> you reached your goal <b>{{ $ctrl.resolveGoalItem.completionRate }} % </b> of the {{ $ctrl.resolveGoalItem.timeFrame }}s so far </li>
  <li> you are <b>{{ $ctrl.resolveGoalItem.workoutPace }}</b> workouts <b>{{ $ctrl.resolveGoalItem.workoutPosition }} </b> your goal <br> <h4>{{ $ctrl.resolveGoalItem.MotivationPhrase }}</h4>  </li>
</ul>

