<md-content class="md-padding" layout="column">
  <h1>Hello Sparrows!!</h1>
    <a ui-sref="createWorkout">Create Workout</a>
    <a ui-sref="workoutsss">Workout</a>
    <a ui-sref="goals">Goals</a>
</md-content>

<md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item md-nav-sref="createWorkout" name="createWorkout">
    Create Workout
  </md-nav-item>
  <md-nav-item md-nav-sref="workoutsss" name="workoutsss">
    Workout
  </md-nav-item>
  <md-nav-item md-nav-sref="goals" name="goals">
    Goals
  </md-nav-item>
</md-nav-bar>
