 <div class="col-md-8">
   </br>
    <h3>Add Template</h3>
    <div class="form-group">
      <label>Template Name</label>
      <input type="text" class="form-control" ng-model="$ctrl.templateName" placeholder="Enter Template Name"/>
    </div>
  </br>
 <h3>Add Exercise</h3>
  <div class="form-group">
    <label>Exercise</label>
    <input type="text" class="form-control" ng-model="$ctrl.activity" placeholder="Enter Exercise Name"/>
    <label>Sets</label>
    <input type="text" class="form-control" ng-model="$ctrl.sets" placeholder="Enter Sets" />
    <label>Reps</label>
    <input type="text" class="form-control" ng-model="$ctrl.reps" placeholder="Enter Reps" />
  </div>
<br/>
<button type="button" class="btn btn-info" ng-click="$ctrl.addWorkout()">Add Exercise</button>
<br/>
<br/>
<div>
  <h3>Your Template</h3>
  <table class="col-md-4">
    <tr>
      <th>Exercise Name
      </th>
      <th>Sets
      </th>
      <th>Reps
      </th>
    </tr>
    <tr ng-repeat="entry in $ctrl.workout">
      <td>{{entry.activity}}
      </td>
      <td>{{entry.sets}}
      </td>
      <td>{{entry.reps}}
      </td>
    </tr>
  </table>
  <button type="button" class="btn btn-success" ng-click="$ctrl.addTemplate()">Add Template</button>
  <br/>
</div>

 </div>
