@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

body {
  width: 100%;
  margin: 0 auto;
  // background-color: #1c1c1c;
}
h1, h2, h3, h4, h5, h6, body, p, div, body {
  font-family: 'Quicksand', sans-serif;
}
.md-sidenav-left .md-toolbar .md-theme-indigo, .md-sidenav-left .nav-theme {
    background-color: #34495e;
}


#container {
 -webkit-filter: grayscale(100%);
 -webkit-filter: blur(10px);
 -webkit-filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter:blur(10px);
}

video {
  width: 100%;
  height: 100%
  overflow: hidden;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(7px);
}

#landing {
  background-size:cover;
  font-family:junge,georgia;
  text-align:center;
}
