<div class='happy'></div>
<h1> Hello timed Workout Plan</h1>
  <h3>Your Workout for Today</h3>
  <table>
    <tr>
      <th>Exercise Name
      </th>
      <th>Duration
      </th>
      <th>RestTime(sec)
      </th>
    </tr>
    <tr ng-repeat="entry in $ctrl.workout">
      <td>{{entry.activity}}
      </td>
      <td>{{entry.duration}}
      </td>
      <td>{{entry.break}}
      </td>
    </tr>
  </table>
  <br/>
<button ng-click='$ctrl.completed()'>Completed</button>
{{$ctrl.timerd}} {{test}}
<!-- <div class='happy'></div> -->

<div style=" float:right">
    <h1 class="clockname"></h1>
    <div class="your-clock"></div>
    <button class="timer">
    Start
    </button>
</div>