<div class='happy'></div>
  <div style="float:right">
    <h1 class="clockname"></h1>
    </br>
    <div class="your-clock"></div>
    <button class="timer btn btn-success">
    Start
    </button>
</div>
  <div class="col-md-4">
    <h3>Your Workout for Today</h3>
  <table class="table ">
    <tr>
      <th>Exercise Name
      </th>
      <th>Duration
      </th>
      <th>RestTime(sec)
      </th>
    </tr>
    <tr ng-repeat="entry in $ctrl.workout">
      <td>{{entry.activity}}
      </td>
      <td>{{entry.duration}}
      </td>
      <td>{{entry.break}}
      </td>
    </tr>
  </table>
  <br/>
  <button ng-click='$ctrl.completed()' class="btn btn-success">Completed</button>
<button ng-click='$ctrl.loadData()' class="btn btn-info">Enter data to timer</button>
  </div>
