<h2>This is an md-navbar</h2>
<md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item md-nav-sref="createWorkout" name="createWorkout">
    Create Workout
  </md-nav-item>
  <md-nav-item md-nav-sref="workoutsss" name="workoutsss">
    Workout
  </md-nav-item>
  <md-nav-item md-nav-sref="goals" name="goals">
    Goals
  </md-nav-item>
</md-nav-bar>

<br><br><br>



<h2>this is an md-menu-bar</h2>
<md-menu-bar>
 <md-menu>
   <button ng-click="$mdMenu.open()">
     Sample Menu
   </button>
   <md-menu-content>
     <md-menu-item type="checkbox" ng-model="settings.allowChanges">Allow changes</md-menu-item>
     <md-menu-divider></md-menu-divider>
     <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Mode 1</md-menu-item>
     <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Mode 2</md-menu-item>
     <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Mode 3</md-menu-item>
   </md-menu-content>
 </md-menu>
</md-menu-bar>



<br><br><br>




<h2>this is an md-slider</h2>
<md-slider ng-model="myValue" min="5" max="500">
</md-slider>




<br><br><br>




<h2>this is an md-switch</h2>
    <md-switch ng-model="isActive" aria-label="Finished?">
      Finished ?
    </md-switch>
    <md-switch md-no-ink ng-model="hasInk" aria-label="No Ink Effects">
      No Ink Effects
    </md-switch>
    <md-switch ng-disabled="true" ng-model="isDisabled" aria-label="Disabled">
      Disabled
    </md-switch>


<br><br><br>



<h2>This is an md tooltip. you can use to play music or perform some action</h2>
<md-button class="md-fab md-accent" aria-label="Play">
  <md-tooltip>Play Music</md-tooltip>
  <md-icon md-svg-src="img/icons/ic_play_arrow_24px.svg"></md-icon>
</md-button>

<br><br><br>


<h2>this is md-button with md-truncate</h2>
<div layout="row">
  <md-button>Back</md-button>

  <md-truncate flex>Chapter 1 - The Way of the Old West</md-truncate>

  <md-button>Forward</md-button>
</div>
